---
---

@import "colors";
@import "bootstrap-material/bootstrap-material-design";
@import "bootstrap-material/ripples";
@import "variables";
@import "bootstrap";

@import "frame";


.place-section {
    .title {
        font-size: 1.8em;
    }
    .img-container {
        img {
            width: 100%;
            margin: 4px 0;
        }
    }
}

.team-member .card-image-headline {
    color: $brand-warning !important;
}