---
---

@import "colors";
@import "bootstrap-material/bootstrap-material-design";
@import "bootstrap-material/ripples";
@import "variables";
@import "bootstrap";

@import "frame";
@import "cards";


.home-contact {
    font-size: 1.2em;
    font-weight: 400;
    h2 {
        font-size: 1.3em;
    }
    div {
        padding: 16px;
    }
}

.place-section {
    .title {
        font-size: 1.8em;
    }
    .img-container {
        img {
            width: 100%;
            margin: 4px 0;
        }
    }
}

.team-member .card-image-headline {
    color: $brand-warning !important;
}