---
layout: page
title: Le cabinet
permalink: /locaux/
nav_order: 4
nav_group: Infos pratiques
carousel:
    - name: salle-exercices
      title: Une salle d'exercice
      count: 2
    - name: collectif
      title: Une salle de soin
      count: 3
    - name: individuel
      title: Des pièces individuelles
      count: 2
    - name: attente
      title: Une salle d'attente
      count: 2


---

<div class="row">
    <div class="col-xs-12">
    <p>
        Vous serez accuillis dans un cadre sobre et confortable.<br/>
        Plusieurs espaces sont à votre disposition, nous permettant de mener au mieux vos soins.
    </p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
        {% if page.carousel %}
        <div id="slider" class="flexslider">
            <ul class="slides">
                {% for section in page.carousel %}
                    {% for i in (1..section.count) %}
                        <li>
                            <img src="{{ site.baseurl }}/images/{{ section.name }}-{{ i }}.jpg" />
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
        <div id="carousel" class="flexslider">
            <ul class="slides">
                {% for section in page.carousel %}
                {% for i in (1..section.count) %}
                <li>
                    <img src="{{ site.baseurl }}/images/thumbnails/{{ section.name }}-{{ i }}.jpg" />
                </li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

</div>