---
layout: page
title: Le cabinet
permalink: /locaux/
nav_order: 4
nav_group: Infos pratiques
sections:
    - name: salle-exercices
      title: Une salle d'exercice
      count: 3
    - name: collectif
      title: Une salle de soin
      count: 3
    - name: individuel
      title: Des pièces individuelles
      count: 3
    - name: attente
      title: Une salle d'attente
      count: 2


---

<div class="row">
    <div class="col-xs-12">
    <p>
        Vous serez accuillis dans un cadre sobre et confortable.<br/>
        Plusieurs espaces sont à votre disposition, nous permettant de mener au mieux vos soins.
    </p>
    </div>
</div>

<div class="row">
    {% for section in page.sections %}
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 place-section">
        <div class="card">
            <div class="card-height-indicator"></div>
            <div class="card-content">
                {% for i in (1..section.count) %}
                <div class="card-image">
                    <img src="{{ site.baseurl }}/images/thumbnails/{{ section.name }}-{{ i }}.jpg" />
                    <h3 class="card-image-headline">{{ member.firstName}} {{ member.lastName}} <small>{{ member.job}}</small></h3>
                </div>
                {% endfor %}
                <div class="card-body">
                    <p>{{ section.title }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>