$color-theme-orange: #ffab40;
$color-theme-grey: #3C3C3C;
$color-theme-light-grey: #F3F3F3;
$color-theme-teal: #00897B;
$color-theme-blue: #3e606d;
$color-theme-light-blue: #6BBAA7;
$color-theme-light: #FCFCFC;

$color-bg-main: $color-theme-light;
$color-bg-header: $color-theme-light-grey;
$color-bg-footer: $color-theme-blue;

$color-link-active: $color-theme-orange;

$color-bd-light: #ccc;

$color-ft-light: #fefefe;
$color-ft-dark: #424242;

